<block-ui>
    <div class="content">
        <div class="content__container">
            <p class="content__container__text">
                Login
            </p>
        </div>
    </div>
    <form action="#" [formGroup]="homeForm">
        <div class="content-input">
            <div class="text-input">
                <input type="text" name="name" id="name" placeholder=" " formControlName="name">
                <label for="name">Name</label>
            </div>
            <div class="text-input">
                <input type="email" name="mail" id="mail" placeholder=" " formControlName="email">
                <label for="mail">Email</label>
            </div>
            <div class="wrap">
                <button class="button" (click)="submit()">Submit</button>
            </div>
        </div>
    </form>
</block-ui>