/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom right, #285B5E, #124244);
    display: grid;
    place-items: center;
    height: 100vh;
    color: #fff;
}